{% extends "base.html" %}
{% block content %}
    <div class="container">
        <div id="canvascontainer" class="eleven columns">
            <canvas id="gamefield"></canvas>
            <a class="button" id="reset" href="#">Reset Turn</a>
        </div>
        <div class="five columns">
            <ul class="tabs">
                <li><a class="active" href="#gamelog">Log</a></li>
                <li><a href="#info">Info</a></li>
                <li><a href="#menu">Menu</a></li>
            </ul>
            <ul class="tabs-content">
                <li class="active" id="gamelogTab">
                    <ul id="gamelog">
                    </ul>
                </li>
                <li id="infoTab">
                    <ul id="unitinfo">
                    </ul>
                </li>
                <li id="menuTab">
                    <a href="#" class="full-width button">Forefeit</a>
                </li>
            </ul>
        </div>
    </div> <! -- container -->
    <div id="log">
    </div> <!-- log -->
    <div id="couchurl">/game/state/{{game.id}}</div>
    <img id="themesprite" src="{{STATIC_URL}}img/LandUnits.gif" />
{% endblock content %}

{% block js %}
    {{ block.super }}
    <script src="{{STATIC_URL}}js/turnflict.js"></script>
{% endblock js %}
