{% extends "base.html" %}
{% block content %}
    <div class="container">
        <div id="canvascontainer" class="eleven columns">
            <canvas id="gamefield"></canvas>
            {% if user == game.current_player.user %}
            <a class="button" id="reset" href="#">Reset Turn</a>
            <a class="button" id="endturn" href="#">End Turn</a>
            {% endif %}
        </div>
        <div class="five columns">
            <ul class="tabs">
                <li><a class="active" href="#gamelog">Log</a></li>
                <li><a href="#info">Info</a></li>
                <li><a href="#menu">Menu</a></li>
            </ul>
            <ul class="tabs-content">
                <li class="active" id="gamelogTab">
                    <ul id="gamelog">
                    </ul>
                </li>
                <li id="infoTab">
                    <ul id="unitinfo">
                    </ul>
                </li>
                <li id="menuTab">
                    <a href="#" class="full-width button">Forefeit</a>
                </li>
            </ul>
        </div>
    </div> <! -- container -->
    <div id="log">
    </div> <!-- log -->
    {% if user == game.current_player.user %}
    <div id="allowmove" class="hidden">true</div>
    {% endif %}
    {% if user == game.player_one.user %}
    <div id="team" class="hidden">0</div>
    {% else %}
    <div id="team" class="hidden">1</div>
    {% endif %}
    <div id="couchurl" class="hidden">/game/state/{{game.id}}</div>
    <img id="themesprite" src="{{STATIC_URL}}img/LandUnits.gif" />
{% endblock content %}

{% block js %}
    {{ block.super }}
    <script src="{{STATIC_URL}}js/json2.js"></script>
    <script src="{{STATIC_URL}}js/turnflict.js"></script>
{% endblock js %}
