{% extends "base.html" %}


{% block content %}
<h2>Prepare for Battle</h2>
<ul>
    {% if user.is_authenticated %}
        <li><a href="{% url player-home %}">Dashboard</a></li>
        <li><a href="/accounts/logout/">Logout</a></li>
    {% else %}
        <li><a href="/accounts/login/">Login</a></li>
        <li><a href="/accounts/register/">Register</a></li>
    {% endif %}
</ul>
{% if user.is_authenticated %}
    <form action="{% url create-game %}" method="post">
        {% csrf_token %}
        <input type="text" name="name" />
        <input type="submit" value="Create New Game">
    </form>
    {% if joinable_games %}
    <h3>Joinable Games</h3>
    <ul>
    {% for game in joinable_games %}
    <li>
    <a class="button" href="{% url game-join game.id %}">Join</a> <a href="{{game.get_absolute_url}}">{{game}}</a></li>
    {% endfor %}
    </ul>
    {% endif %}
{% endif %}
{% endblock content %}
